/* Подключение шрифтов  */

@font-face {
	font-family: 'Gilroy Regular';
	src: url('../fonts/GilroyRegular.eot');
	src: local('☺'), url('../fonts/GilroyRegular.woff') format('woff'), url('../fonts/GilroyRegular.ttf') format('truetype'), url('../fonts/GilroyRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy Medium';
	src: url('../fonts/GilroyMedium.eot');
	src: local('☺'), url('../fonts/GilroyMedium.woff') format('woff'), url('../fonts/GilroyMedium.ttf') format('truetype'), url('../fonts/GilroyMedium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('../fonts/ProximaNovaRegular.eot');
	src: local('☺'), url('../fonts/ProximaNovaRegular.woff') format('woff'), url('../fonts/ProximaNovaRegular.ttf') format('truetype'), url('../fonts/ProximaNovaRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Light';
	src: url('../fonts/ProximaNovaLight.eot');
	src: local('☺'), url('../fonts/ProximaNovaLight.woff') format('woff'), url('../fonts/ProximaNovaLight.ttf') format('truetype'), url('../fonts/ProximaNovaLight.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Cormorant Regular';
	src: url('../fonts/CormorantRegular.eot');
	src: local('☺'), url('../fonts/CormorantRegular.woff') format('woff'), url('../fonts/CormorantRegular.ttf') format('truetype'), url('../fonts/CormorantRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Playfair Display Bold';
	src: url('../fonts/PlayfairDisplayBold.eot');
	src: local('☺'), url('../fonts/PlayfairDisplayBold.woff') format('woff'), url('../fonts/PlayfairDisplayBold.ttf') format('truetype'), url('../fonts/PlayfairDisplayBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

/* Шапка сайта */

.header {
    width: 100%;
}
.header_wrap_cap {
    max-width: 1120px;
    margin: 0 auto;
	margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 202px;
    height: 52px;
    display: flex;
    align-items: center;
}
.navigation_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_link {
    margin-right: 20px;
}
.nav_link_cost {
    width: 132px;
    text-align: center;
}
.link {
    font-family: 'Gilroy Regular';
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    color: #11100E;
	position: relative;
}
.link:hover::before {
	transform: scaleX(1);
	transition: transform 0.3s;
}
.link::before {
	content: '';
	width: 100%;
	height: 4px;
	background-color: #c0ad95;
	position: absolute;
	left: 0;
	bottom: -5px;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s;
}
.contact_time_title {
    font-family: 'Gilroy Regular';
    font-weight: 400;
    font-size: 19px;
    color: #11100E;
    text-align: center;
}
.burger_menu {
    display: none;
}
.link_burger {
    display: none;
}

/* Секция каталог товаров "Шкаф купе" */
.catalog__container {
	width: 1120px;
	margin: 0 auto;
}
.items {
	width: 100%;
	display: grid;
	grid-template-columns: minmax(144px, 340px) minmax(144px, 340px) minmax(144px, 340px);
	justify-content: space-between;
	gap: 0px 20px;
}
.product__item {
	width: 100%;
	text-decoration: none;
	margin-bottom: 60px;
}
.image_wrap {
	width: 100%;
}
.image {
	width: 100%;
}
.item__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.item__name {
	font-family: 'Gilroy Regular';
	font-weight: 400;
	font-size: 30px;
	line-height: 28px;
	color: #000000;
	margin: 0;
}
.item__price {
	font-family: 'Gilroy Regular';
	font-weight: 400;
	font-size: 28px;
	line-height: 28px;
	color: #937A60;
	margin: 0;
}
.item__calculate {
	border: 1px solid #937A60;
}
.calculate__title {
	font-family: 'Gilroy Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 22px;
	text-align: center;
	color: #000000;
	margin: 0;
	padding-top: 14px;
	padding-bottom: 14px;
}

.product__links {
    width: 1120px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.links {
	display: flex;
    align-items: center;
}
.product__link {
    font-family: 'Gilroy Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #11100E;
    text-decoration: none;
}
.product__link:hover {
    border-bottom: 1px solid #11100E;
}
.link__separator {
    margin-left: 8px;
    margin-right: 8px;
    font-family: 'Proxima Nova Regular';
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #11100E;
}
.filter__btn {
	width: 160px;
	height: 40px;
	border: none;
	border: 1px solid #937A60;
	background-color: #fff;
	cursor: pointer;
	font-family: 'Gilroy Regular';
	font-weight: 400;
	font-size: 26px;
	line-height: 28px;
	color: #11100E;
}

.pagination {
	width: 100%;
}
.pagination__wrap {
	width: 480px;
	margin: 0 auto;
	display: flex;
	margin-top: 50px;
	margin-bottom: 150px;
}
.pagination__item {
	width: 39.68px;
	height: 40px;
	border: 1px solid #AF9678;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	font-family: 'Proxima Nova Light';
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.01em;
	color: #AF9678;
	margin-right: 15px;
	cursor: pointer;
	transition: all 0.3s;
}
.pagination__item:nth-of-type(9) {
	margin-right: 0px;
}
.pagination__item:hover {
	background-color: rgba(175, 150, 120, 0.2);
	transition: all 0.3s;
}
.arrow__prev {
	position: relative;
}
.arrow__prev::after {
	content: ''; 
    position: absolute; 
    border: 10px solid transparent;
	left: -15px; bottom: -10px;
    border-top: 10px solid #AF9678;
	transform: rotate(90deg);
}
.arrow__next {
	position: relative;
}
.arrow__next::after {
	content: ''; 
    position: absolute; 
    border: 10px solid transparent;
	left: -5px; bottom: -10px;
    border-top: 10px solid #AF9678;
	transform: rotate(270deg);
}
/* Подвал сайта  */

.footer {
	width: 100%;
	background-color: #937A60;
}
.footer__container {
	max-width: 1120px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 360px;
}
.footer__links {
	display: flex;
	flex-direction: column;
}
.footer__link {
	position: relative;
	font-family: 'Gilroy Regular';
	font-weight: 400;
	font-size: 26px;
	line-height: 28px;
	color: #FFFFFF;
	text-decoration: none;
	margin-bottom: 10px;
}
.footer__link::before {
	content: '';
	width: 100%;
	height: 4px;
	background-color: #fff;
	position: absolute;
	left: 0;
	bottom: -5px;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s;
}
.footer__link:hover::before {
	transform: scaleX(1);
	transition: transform 0.3s;
}
.footer__location {
	max-width: 550px;
	max-height: 220px;
}
.footer__location_img {
	width: 100%;
	height: 100%;
}
.footer__location-mobile {
	display: none;
}

/* Модальное окно "Фильтр */

.modal_filter_wrap {
	width: 680px;
	height: 450px;
	z-index: 1003;
	top: 50%;
	left: 50%;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	transition: all 0.3s ;
	background-color: #fff;
	transform: translateX(-50%);
	transition: all 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}
.modal_filter_wrap.active {
	visibility: visible;
	opacity: 1;
	transform: translate(-50%, -50%);
}
.modal_filter_body {
	width: 550px;
	height: 420px;
	overflow-y: scroll;
	position: relative;
}
.form__filter {
	width: 100%;
}
.filter_form_title {
	font-family: 'Gilroy Regular';
	font-weight: 500;
	font-size: 28px;
	line-height: 28px;
	color: #937A60;
	margin-bottom: 25px;
}
.input_wrap_filter {
	display: flex;
	align-items: center;
	margin-left: 20px;
	margin-bottom: 10px;
}
.filter_input {
	display: none;
}
.label_input {
	cursor: pointer;
	display: flex;
	align-items: center;
}
.choise_input {
	width: 15px;
	height: 15px;
	border: 1px solid #937A60;
	margin-right: 20px;
	transition: all 0.3s;
}
.choise_title {
	font-family: 'Gilroy Regular';
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #000000;
	margin: 0;
}
.filter_actions {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}
.filter_btn {
	width: 200px;
	height: 56px;
	background: #AF9678;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	font-family: 'Gilroy Regular';
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	color: #FFFFFF;
	transition: all 0.3s;
}
.filter_btn:hover {
	transition: all 0.3s;
	background-color: rgba(175,150,120,.8);
}

.filter_input:checked + label .choise_input {
	background-color: #937A60;
	transition: all 0.3s;
}

.btn_close_filter {
	width: 15px;
	height: 15px;
	cursor: pointer;
	top: 50px;
	right: 30px;
	position: absolute;
}
.btn_close_filter span:nth-of-type(1) {
	display: block;
	width: 100%;
	height: 3px;
	border-radius: 2px;
	background-color: #937A60;
	transform: translateY(3px) rotate(45deg);
}
.btn_close_filter span:nth-of-type(2) {
	display: block;
	width: 100%;
	height: 3px;
	border-radius: 2px;
	background-color: #937A60;
	transform: translateY(0.5px) rotate(-45deg);
}
.overlay {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1002;
	background-color: rgba(0, 0, 0, .5);
	transition: all 0.3s;
}
.overlay.active {
	visibility: visible;
	opacity: 1;
}

/* Медиа запросы */

@media(max-width: 1120px) {
	.header_wrap_cap {
		width: 95%;
	}
    .footer__container {
		width: 95%;
	}
    .product__links {
		width: 95%;
	}
	.catalog__container {
		width: 95%;
	}
}
@media(max-width: 1050px) {
    .navigation_desktop {
		display: none;
	}
    .logo {
		order: 2;
	}
    .navigation_desktop {
		display: none;
	}
	.logo {
		order: 2;
	}
    .burger_menu {
		display: block;
		order: 0;
		width: 25px;
		height: 25px;
		cursor: pointer;
		z-index: 1002;
	}
	.burger_menu span:nth-of-type(1) {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #937A60;
		margin-bottom: 6px;
		transition: all 0.3s;
	}
	.burger_menu span:nth-of-type(2) {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #937A60;
		margin-bottom: 6px;
		transition: all 0.3s;
	}
	.burger_menu span:nth-of-type(3) {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #937A60;
		transition: all 0.3s;
	}
	.link_burger {
		display: flex;
		flex-direction: column;
		width: 300px;
		height: 100%;
		justify-content: start;
		align-items: center;
		z-index: 1001;
		top: 0px;
		left: 0px;
		background-color: #c0ad95;
		position: absolute;
		transform: translateX(-100%);
		transition: all 0.3s;
	}
	.burger_nav_link_about {
		margin-top: 150px;
	}
	.burger_nav_link {
		margin-bottom: 20px;
	}
	.burger_menu.active span:nth-of-type(1) {
		background-color: #fff;
		transform: translateY(7.6px) rotate(45deg);
		transition: all 0.3s;
	}
	.burger_menu.active span:nth-of-type(2) {
		background-color: #fff;
		transform: rotate(-45deg);
		transition: all 0.3s;
	}
	.burger_menu.active span:nth-of-type(3) {
		background-color: #fff;
		display: none;
		transition: all 0.3s;
	}
	.link_burger.active {
		transform: translateX(0%);
		transition: all 0.3s;
	}
	.burger_link {
		font-family: 'Gilroy Medium';
		font-weight: 500;
		font-size: 21px;
		text-decoration: none;
		color:#fff;
		position: relative;
	}
	.burger_link:hover::before {
		transform: scaleX(1);
		transition: transform 0.3s;
	}
	.burger_link::before {
		content: '';
		width: 100%;
		height: 4px;
		background-color: #fff;
		position: absolute;
		left: 0;
		bottom: -5px;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.3s;
	}
    .footer__container {
		height: 300px;
	}
    .footer__link {
		font-size: 23px;
		line-height: 24px;
	}
    .footer__location {
		max-width: 510px;
	}
    .product__links {
		margin-top: 35px;
		margin-bottom: 30px;
	}
	.item__name {
		font-size: 24px;
	}
	.item__price {
		font-size: 24px;
	}
	.calculate__title {
		font-size: 17px;
	}
}
@media(max-width: 950px) {
    .footer__location {
		max-width: 450px;
	}
}
@media (max-width: 900px) {
    .footer__link {
		font-size: 21px;
	}
    .footer__location {
		max-width: 395px;
	}
	.item__name {
		font-size: 20px;
	}
	.item__price {
		font-size: 20px;
	}
}
@media(max-width: 812px) {
    .footer__link {
		font-size: 20px;
		line-height: 23px;
	}
    .footer__location {
		max-width: 330px;
	}
}
@media(max-width: 750px) {
    .footer__logo_wrap {
		display: flex;
		flex-direction: column;
	}
    .footer__location-mobile {
		margin-top: 22px;
		display: block;
	}
    .footer__location {
		display: none;
	}
	.item__name {
		font-size: 18px;
	}
	.item__price {
		font-size: 18px;
	}
	.calculate__title {
		font-size: 16px;
	}
	.item__info {
		margin-top: 13px;
		margin-bottom: 13px;
	}
	.filter__btn {
		width: 140px;
		height: 35px;
		font-size: 23px;
	}
}
@media(max-width: 700px) {
	.items {
		grid-template-columns: minmax(144px, 240px) minmax(144px, 240px);
		justify-content: space-around;
	}
	.product__item {
		margin-bottom: 40px;
	}
	.modal_filter_wrap {
		width: 530px;
	}
	.modal_filter_body {
		width: 430px;
	}
	.filter_form_title {
		font-size: 26px;
	}
	.choise_title {
		font-size: 18px;
	}
	.filter_btn {
		width: 170px;
		height: 45px;
		font-size: 19px;
	}
}
@media(max-width: 550px) {
	.modal_filter_wrap {
		width: 390px;
	}
	.modal_filter_body {
		width: 290px;
	}
	.filter_btn {
		width: 120px;
		height: 40px;
		font-size: 15px;
		line-height: 15px;
	}
}
@media(max-width: 520px) {
	.pagination__wrap {
		width: 390px;
		margin-bottom: 100px;
	}
	.pagination__item {
		width: 30px;
		height: 32px;
	}
}
@media(max-width: 500px) {
	.filter__btn {
		width: 125px;
		font-size: 20px;
	}
}
@media(max-width: 450px) {
	.item__name {
		font-size: 16px;
	}
	.item__price {
		font-size: 16px;
	}
	.calculate__title {
		font-size: 14px;
		line-height: 17px;
	}
	.product__item {
		margin-bottom: 30px;
	}
	.filter__btn {
		width: 116px;
		height: 32px;
		font-size: 18px;
	}
}
@media(max-width: 420px) {
	.modal_filter_wrap {
		width: 300px;
	}
	.modal_filter_body {
		width: 200px;
	}
	.filter_form_title {
		font-size: 23px;
	}
	.choise_title {
		font-size: 16px;
	}
	.apply_filter_btn {
		margin-right: 10px;
	}
	.pagination__wrap {
		width: 300px;
		margin-top: 35px;
		margin-bottom: 90px;
	}
	.pagination__item {
		height: 26px;
	}
}
@media(max-width: 390px) {
    .footer__links {
		margin-right: 0px;
	}
    .product__link {
		font-size: 11px;
	}
	.item__info {
		margin-top: 8px;
		margin-bottom: 8px;	
	}
	.footer__logo_wrap {
		margin-right: 20px;
	}
	.product__links {
		flex-direction: column;
		align-items: start;
		margin-bottom: 35px;
	}
}
@media(max-width: 350px) {
	.footer__logo {
		width: 170px;
	}
}